@import url(./styles/reset.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #101828;
  --text-color: #475467;
  --gray-color: #6c717b;
  --lightgray-color: #dadde1;
  --button-color: #e44848;
  --button-hover-color: #d84343;
  --rating-color: #ffc531;
  --badges-color: #f2f4f7;
  --inputs-color: #f2f7f7;
  --white-color: #ffffff;
}

body {
  /* Body */
  
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

h1 {
  line-height: 32px; /* 66.667% */
}
